<div ng-controller="contactsController">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="background-color:lightcoral;height:1900px">
                <h2><u>Our Savior Eyesus Kristos</u></h2>
                <audio controls preload="auto">
                    <source src="Icons/MD_ALEM.mp3" type="audio/mp3">
                </audio>

                <p><img src="images/CrossOfJesus.png" class="img-responsive" alt="Responsive image" width="375" height="80"></p>
                <!--<p><img src="images/Kdus_Yared_And_his_Deke_Mezmur.jpg" class="img-responsive" alt="Responsive image" width="375" height="80"></p>-->

                <h2><u>Introduction</u></h2>
                <p>
                    Judge not, that ye be not judged. The law of the Ancient world and that of the prophets is combined by this. Mathew 7.1. As this is the directive and the order of our Lord: God and Savior Jesus Christ, preserving and using it, is our Christian obligation. It is the Christian law that keeps us by strengthening our unity should we preserve it.
                </p>
                <p>
                    We, priests and followers of the belief of the Ethiopian Orthodox Tewahedo Church who reside in Boston and its surroundings, have endorsed the church directive (Kalle Awadi) which enables us together to be directed and use it in Boston Menebere Leule Medhane Alem Ethiopian Orthodox Tewahedo Church.
                </p>
                <p>His Holiness Abune Mathias, Patriarch of the Ethiopian Orthodox Tewahedo Church:</p>
                <p><img src="images/Abune_Mathias1.png" width="375" class="img-responsive" alt="Responsive image"></p>
                <p>
                    It can be evidenced from the following quotations that the church is organized by the association of priests and followers and directed by the parish council, a directive and order derived from the Holy Book. Leviticus 27/26-33; Deuteronomy 14/22; Numbers 18/20-29; Obadiah 3/7-12; Acts 4/32-37; Corinthians 16/1-5.
                </p>
            </div>

            <div class="col-md-4" style="background-color:lightyellow;height:1900px">
                <h2><u>Name of Church</u></h2>
                <p>
                    The church which is located in Boston is called Menebere Leule Medhane Alem Ethiopian Orthodox Tewahedo Church. The church is established in accordance with the laws of Massachusetts
                </p>

                <h2><u>Rules of Belief</u></h2>
                <p>
                    As the Boston Menebere Leule Medhane Alem Church is part of the Ethiopian Orthodox Tewahedo Church , it keeps its rule of belief and canon. It teaches same and confirms in its activity.
                </p>
                <h2><u>Objective</u></h2>
                <p><mark>1.</mark> To expand the teachings of God's kingdom of Gospel.</p>

                <p><mark>2.</mark> To establish and strengthen Sunday schools. </p>

                <p><mark>3.</mark>To lead the administration and services of the church in line with the church laws. </p>

                <p><mark>4.</mark> To endeavor that the church stands on its feet with wealth and property. </p>

                <p><mark>5.</mark> To teach Ethiopian letters and language to those Ethiopians who are born and grown in this country in order not to forget their country and culture. </p>

                <p><mark>6.</mark> To study and preserve properly the rules of worship and canon of the Ethiopian Orthodox Tewahedo Church. </p>

                <h2><u>Religious Events</u></h2>
                <h5>Timket - Ethiopian Epiphany January 2017</h5>

                <p>
                    <iframe src="https://www.youtube.com/embed/y1lRKhiI5t0" height="250" width="370" allowfullscreen="" frameborder="0"></iframe>
                </p>
                <p>Let the children sing and praise the Lord, Jesus Christ.</p>
                <p>
                    <iframe src="https://www.youtube.com/embed/JpJidj1Q1fc" height="250" width="370" allowfullscreen="" frameborder="0"></iframe>
                </p>
                <hr />
                <p>On November 06, 2016, Menebere Leule Medhane Alem was Celebrated with the presence of Bitsue Abune Zekarias, the Archbishop Of the Ethiopian Orthodox Tewahedo Church in the North East Region of United States of America. </p>
                <br />

                <!--<p><img src="images/2014/12/Large/bitsue_abune_abune_zekarias-500x500.jpg" class="img-responsive" alt="Responsive image" width="490" height="100"></p>-->
                <p>
                    <iframe src="https://www.youtube.com/embed/IilpJQuJbnA" height="250" width="370" allowfullscreen="" frameborder="0"></iframe>
                <p>At 2 PM, the heavenly melody, Mahelet the Yared was started!</p>

                <p>The festival was attended by many people from the Boston Areas and its surrounding states.</p>

                <p>It was was one of the most remarkable holiday in the history of the Boston Menebere Leule Medhane Alem church.</p>
                <p>
                    Stay tuned for more Religious Events...!!!
                </p>
            </div>
            <div class="col-md-4" style="background-color:lightblue;height:1900px">

                <h2><u>Administrator of the church</u></h2>
                <br />
                <p><img src="images/melake_tsehay-500x500.jpg" width="375" class="img-responsive" alt="Responsive image"></p>
                <p><mark>Melake Tsehay Kesis Tsehaye Tsige</mark>- administrator of the Menebere Leule Medhane Alem Ethiopian Orthodox Tewahedo Church in Boston, Massachusetts. He leads the church in accordance with the regulation issued by the Ethiopian Orthodox Tewahedo Church Holy Synod.</p>

                <hr />
                <p>Click on the following videos to listen to the heavenly melodies and songs! </p>

                <iframe src="https://www.youtube.com/embed/LaHA4FN8lyM" height="250" width="370" allowfullscreen="" frameborder="0"></iframe>
                <hr />
                <br />

                <iframe src="https://www.youtube.com/embed/9ViyuRnI3O0" height="250" width="370" allowfullscreen="" frameborder="0"></iframe>
                <hr />
                <br />
                <iframe src="https://www.youtube.com/embed/6t9JvL6NNfM" height="250" width="370" allowfullscreen="" frameborder="0"></iframe>
                <!--<div>Gera please delete the following video</div>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/Rb3oRN-YCBg" frameborder="0"
                        allowfullscreen></iframe>-->
            </div>
        </div>
    </div>
</div>
