
<div ng-controller="contactsController">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="color:white;background-color:black;height:600px">
                <div>
                    <h1>Religious Events:</h1>
                    <p>
                        <h2>Stay tuned!</h2>
                    </p>
                  
                </div>
             </div>
            <div class="col-md-4" style="background-color:lightcoral;height:600px">

                <h1>Questions:</h1>
                <p>
                    If you have questions about Zema services please eamail us at <br />
                    ggebresl@yahoo.com <br />
                    Thank you <br />
                </p>

            </div>
            <div class="col-md-4" style="color:white;background-color:black;height:600px"> 
                <h1>Announcements:</h1>   
                <h2> Stay tuned!</h2>
               
        </div>
      </div>
 </div>
</div>



  