<div ng-controller="geezController">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="color:white;background-color:black;">
                <br />
                <u>በሰመ አብ ወወልድ ወመንፈስ ቅዱስ ፩ዱ አምላክ</u> ንዌጥን በረድኤተ <strong><font color="red">እግዚአብሔር</font></strong> ጽሒፈ ሀ ሁ ፥፥<br />
                <br />
                ሀ - ብሂል ሀልዎቱ ለአብ እም ቅድመ ይትፈጠር ዓለም<br />
                ሐ - ብሂል  ሐመ ወሞተ<br />
                ኀ - ብሂል ኃያል <strong><font color="red">እግዚአብሔር</font></strong><br />
                ለ - ብሂል ለብሰ ሥጋ ዚአነ <br />
                መ - ብሂል  መንክር ግብሩ <strong><font color="red">ለእግዚአብሔር</font></strong> <br />
                ሠ - ብሂል ሠረቀ በሥጋ እም <strong><font color="red">ድንግል</font></strong> ተወለደ <br />
                ሰ - ብሂል ሰከበ በጎል <br />
                ረ - ብሂል ረግዐ ሰማይ ወምድር<br />
                ቀ - ብሂል ቀዳሚሁ ቃል ውእቱ <strong><font color="red">ለእግዚአብሔር</font></strong> <br />
                በ - ብሂል በትሕትናሁ ወረደ <br />
                ተ - ብሂል  ተሰብአ ወተሰገወ <br />
                ነ - ብሂል ነሥአ ደዌነ ወፆረ ሕማመነ <br />
                <hr />
                <iframe src="https://www.youtube.com/embed/qPDa_m-qJa8" height="300" width="100%" allowfullscreen="" frameborder="0"></iframe>         
              
            </div>
            <div class="col-md-6" style="color:white;background-color:black">
                <br />
                አ -  ብሂል አአኲቶ ወእሴብሖ <strong><font color="red">ለእግዚአብሔር</font></strong> <br />
                ዐ -  ብሂል ዓቢይ <strong><font color="red">እግዚአብሔር</font></strong> <br />
                ከ -  ብሂል ከሃሊ <strong><font color="red">እግዚአብሔር</font></strong> <br />
                ወ -  ብሂል ወረደ በትሕትናሁ ለቤዛ ኩሉ ዓለም::<br />
                ዘ -  ብሂል ዘኩሎ ይእሕዝ <strong><font color="red">እግዚአብሔር</font></strong> አምላክነ::<br />
                የ -  ብሂል የማነ <strong><font color="red">እግዚአብሔር</font></strong> ገብረት ኀይለ::<br />
                ደ -  ብሂል ደመረ ሥጋ ዚአነ ምስለ <strong>መለኮቱ</strong><br />
                ገ -  ብሂል ገብረ ዓለመ በጥበቡ<br />
                ጠ - ብሂል ጠዐሙ ወታእምሩ ከመ ኄር<br />
                ጰ -  ብሂል <strong>ጰራቅሊጦስ መንፈስ ቅዱስ</strong><br />
                ጸ -  ብሂል  ጸጋ ወክብር ዘተውህበ ለነ<br />
                ፀ -  ብሂል  ፀሐየ ጽድቅ <strong><font color="red">እግዚአብሔር</font></strong> <br />
                ፈ -  ብሂል ፈኑ ብርሃነከ ወጽድቀከ<br /><br />
                <hr />
                <iframe src="https://www.youtube.com/embed/0UVVYKZDDoA" height="300" width="100%" allowfullscreen="" frameborder="0"></iframe>
            </div>
       </div>
    </div>
  <a href="kinyes">Back to Home</a>
</div>

 