<div ng-controller="contactsController">
    <div class="container">
        <div class="row well well-lg">
             
            <div class="col-md-4" style="background-color:lightblue;color:black;height:2100px">

                <h2><strong><u>ዋይ ዜማ ዘሰማዕኩ</u></strong></h2> <br />
                <p>እግዚአብሔር ቃሉን በቅዱስ ያሬድና በአርድእተ ያሬድ ላይ አኑረዋል</p>
                <p><img src="images/Kdus_Yared_And_his_Deke_Mezmur.jpg" class="img-responsive" alt="Responsive image" width="370" height="500"></p>        
                
              
                <h3><u>ከዚህም የተንሳ ቅዱስ ያሬድ መላእክት ሥላሴን ሲያመሰግኑ ሰምቶ የሥላሴ ምስጋና እንዲህ በማለት ጀመረ </u></h3>
                <i>
                    <strong>
                        ዋይ ዜማ ዘሰማዕኩ ...<br />
                    </strong><br />
                </i>
                <p>
                    ቅዱስ ያሬድ በተመስጦ ወደ ሰማያዊት ጽርሐ ዓርያም ተነጥቆ ሃያ አራቱ ካህናተ ሰማይ ቅዱስ ቅዱስ ቅዱስ እግዚአብሔር እያሉ ሲያመሰግኑ ሰምቶ
                    ዋይ (ወይ) የሰማሁት ዜማ እያለ የሥላሴን ምስጋና ከሰማያዊት ጽርሐ ዓርያም ወደ ኢትዮጵያ አምጥቶ ሰማይንና ምድርን በማህኅሌት መሰላል አገናኘ::
                    በእውነት ታላቅ ምስጢር ነው፥፥ እግዚአብሔር አምላካችን የተመሰገነ ይሁን፥፥
                </p>
                <!--<p>እስቲ የሚቀጥለው የእጅ ሥዕል በአንክሮ እናመሳጥረው የሚያስተላልፈው መልእክት ምን ይምስላል &quest;</p>
            <p><img src="images/Kdus_Yared_And_his_Deke_Mezmur.jpg" class="img-responsive" alt="Responsive image" width="375" height="80"></p>-->
                <p>
                    የቅዱስ ያሬድ ማህኅሌት የሥላሴ ምስጋና ነውና በእግዚአብሔር ጥበብና በቅዱስ ያሬድ ደቀ መዛሙርት አማካኝነት ለዘዓለም እየተዘመረ ይኖራል:: <br />
                </p>

                <h3><strong><u>ቅዱስ ያሬድ የጉባኤያት አባት</u></strong></h3> <br />
                <br />
                <iframe src="https://www.youtube.com/embed/KBRZ6VBjL-M" height="500" width="370" allowfullscreen="" frameborder="0"></iframe>
                <br />

                <!--<iframe src="https://www.youtube.com/embed/yZQtl2oh6Jg" height="250" width="370" allowfullscreen="" frameborder="0"></iframe>-->
                <p>

                    የእግዚአብሔር ጥበብ ግሩም ነው ፥፥ ላስተዋለው ፥፥<br /><br />
                    ቅዱስ ዳዊት በመዝሙር ፻፶ ላይ <strong><font color="red">በግዚአብሔር መንፈስ ቅዱስ</font></strong> ተቃኝቶ እንዲህ ይላል:-<br />
                    ሰብሕዎ በቃለ ቀርን:-<br />
                    ሰብሕዎ በመዝሙር ወበመሰንቆ:-<br />
                    ሰብሕዎ በከበሮ ወበትፍሥሕት:-<br />
                    ሰብህዎ በጸናጽል ወብይባቤ:-<br />
                    ኵሉ ንፍስ ይሴብሖ <strong><font color="red">ለእግዚአብሔር</font></strong>፥፥<br />
                    ነፍስ ያለው ሁሉ <strong><font color="red">እግዚአብሔርን</font></strong> ያመሰግናል ብሎ ያስረዋል ወይም ይደመድመዋል፥፥<br /> <br />
                </p>
                <p>
                    <u>ነፍስ ያለው ሁሉ <strong><font color="red">እግዚአብሔርን</font></strong> ያመስግን ተባለ&quest;</u><br />
                    ለካስ ለዚህ ነው በወረብ ጊዜ- <br />
                    ስቃይ ወይም ሕመም ያላቸው ሕመማቸውን ረስተው በአንክሮ ሰማየ ሰማያት ይነጕዳሉ:: <br />
                    ግማሾቹ በአርምሞ ያመሰግናሉ:: <br />
                    ግማሾቹ እልል ይላሉ:: <br />
                    ግማሾቹ ይወርባሉ:: <br />
                    ግማሾቹ ያንጨበጭባሉ:: <br />
                    ግማሾቹ ወደ ሰማይ ይመለከታሉ:: <br />
                    ግማሾቹ በደስታ ያልቅሳሉ:: <br />
                    ግማሾቹ በደስታ ይስቃሉ:: <br />
                    ግማሾቹ ወደ ፊት ይሄዳሉ:: <br />
                    ግማሾቹ ወደ ኋላ ይራመዳሉ:: <br />
                    ግማሾቹ ወደ ምስራቅ, ግማሾቹ ወደ ምዕራብ, ግማሾቹ ወደ ሰሜን, ግማሾቹ ወደ ደቡብ ይወዛወዛሉ:: <br />
                    ህፃንት ይሮጣሉ:: <br />
                    ሽማግሌዎች ያደንቃሉ:: <br />
                    ካህናት ያመሳጥራሉ:: <br />
                    <stron><u>ስለ ዚህ</u></stron><br />
                    ኵሉ ንፍስ ይሴብሖ <strong><font color="red">ለእግዚአብሔር</font></strong>፥፥<br />
                    ነፍስ ያለው ሁሉ <strong><font color="red">እግዚአብሔርን</font></strong> ያመሰግናል፥፥
                </p>
            </div>

            
            <div class="col-md-4" style="background-color:lightcoral;height:2100px">

                <h2><strong><u>የቅዱስ ያሬድ ዜማውና አስተምህሮው ክፍል 1 በሊቀ ጉባኤ ጌታሁን ደምፀ</u></strong></h2> <br />
                <iframe src="https://www.youtube.com/embed/vvRCUkzeUFU" height="400" width="360" allowfullscreen="" frameborder="0"></iframe>
                <hr />
                <h2><strong><u>የቅዱስ ያሬድ ዜማውና አስተምህሮው ክፍል 2 በሊቀ ጉባኤ ጌታሁን ደምፀ</u></strong></h2> <br />
                <iframe src="https://www.youtube.com/embed/EXhao7s5I0o" height="400" width="370" allowfullscreen="" frameborder="0"></iframe>
                <hr />
                <h2><u>በሊቀ ጉባኤ ጌታሁን ድምፀ የውዳሴ ማርያም  አንድምታ ትርጓሜ</u></h2>
               
                    <h5>ወዳሴ ማርያም አንደምታ ትርጓሜ ዘእሁድ - Sunday</h5>
                    <iframe src="https://www.youtube.com/embed/TJJgctedWLA" height="300" width="370" allowfullscreen="" frameborder="0"></iframe>
                
                <hr />
                
                <h4><u>በሊቀ ጉባኤ ጌታሁን ድምፀ የውዳሴ ማርያም  አንድምታ ትርጓሜ</u></h4>
                

                <h5>ውዳሴ ማርያም አንድምታ ትርጓሜ ዘሰኑይ - Monday</h5>
                <iframe src="https://www.youtube.com/embed/NpW2b5pSjZQ" height="300" width="370" allowfullscreen="" frameborder="0"></iframe>
                
            </div>
            <!--<div class="col-md-4" style="background-color:lightblue;height:1900px">-->
            <div class="col-md-4" style="background-color:lightblue;height:2100px">
                
                <h5>ውዳሴ ማርያም አንድምታ ትርጓሜ ዘሠሉስ -Tuesday</h5>
                <iframe src="https://www.youtube.com/embed/rsJSv-rJUjM" height="300" width="355" allowfullscreen="" frameborder="0"></iframe>
                <hr />
                
                <h5>ውዳሴ ማርያም አንድምታ ትርጓሜ ዘረቡዕ - Wednesday</h5>
                <iframe src="https://www.youtube.com/embed/aEzUL3hyPnY" height="300" width="357" allowfullscreen="" frameborder="0"></iframe>
                <hr />
                
                <h5>ውዳሴ ማርያም አንድምታ ትርጓሜ ዘሐሙስ - Thursday</h5>
                <iframe src="https://www.youtube.com/embed/92JyB3WT1r0" height="300" width="357" allowfullscreen="" frameborder="0"></iframe>
                <hr />
                
                <p>ውዳሴ ማርያም አንድምታ ትርጓሜ ዘአርብ  - Friday</p>
                <iframe src="https://www.youtube.com/embed/YQMJxxJTwA8" height="300" width="357" allowfullscreen="" frameborder="0"></iframe>
                <hr />
                <p>ውዳሴ ማርያም አንድምታ ትርጓሜ ዘቀዳሚት - Saturday</p>
                <iframe src="https://www.youtube.com/embed/hIaZ3AevRTU" height="300" width="357" allowfullscreen="" frameborder="0"></iframe>
                 <hr />
                <br />
                <h2>ስብከተ ወንጌል ይቀጥላል</h2>
            </div>
            </div>
        </div>
    </div>

