<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        <h4>
            Menebere Leule Medhane Alem Ethiopian Orthodox Tewahedo Church
        </h4>
        <p>
            P.O.Box 990864</> <br />

            Boston, MA 02199 <br />

            Tel. (617)955-2335 <br />
        </p>
        <p>
            Membership Form<br />
        </p>
        <p>
            Please fill out this form completely:<br />
            Name _______________________________<br />
            Spouse’s Name ______________________<br />
        </p>
        <br />
        <p>
            Name of child/children:<br />
            _____________________ Age _______<br />
            _____________________ Age _______<br />
            ______________________Age _______<br />
        </p>
        <p>
            Street Address:<br />
            _______________________Apt. ______<br />
            City_________________________<br />
            State _____________________<br />
            Zip________

            Home Telephoe (_____) ______________<br />
            Cell (_____) ____________<br />
            Email ______________________________<br />
            Fax _____________________<br />
            Comments________________________<br />
            ____________________________<br />
            ____________________________<br />
            ____________________________<br />

            Signature______________________<br />
            Date________________<br />
        </p>
    </div>
</body>
</html>