<div ng-controller="contactsController">
    <div class="container">
        <div class="row well well-lg">
            <!--<div class="col-md-4" style="background-color:lightblue;height:2100px">-->
            <div class="col-md-4" style="background-color:lightblue;color:black;height:2200px">
           
                <h2><strong><u>ትንቢተ ኤርምያስ ምዕራፍ ፩  ከ ቊጥር ፬  እስከ ፱</u></strong></h2> <br />
                <p>
                    የእግዚአብሔርም ቃል ወደ እኔ እንዲህ ሲል መጣ።<br />
                    በሆድ ሳልሠራህ አውቄሃለሁ፥ ከማኅፀንም ሳትወጣ ቀድሼሃለሁ፥ ለአሕዛብም ነቢይ አድርጌሃለሁ።<br />
                    እኔም። ወዮ ጌታ እግዚአብሔር፥ እነሆ፥ ብላቴና ነኝና እናገር ዘንድ አላውቅም አልሁ።<br />
                    እግዚአብሔር ግን እንዲህ አለኝ። ወደምሰድድህ ሁሉ ዘንድ ትሄዳለህና፥ የማዝዝህንም ሁሉ ትናገራለህና። ብላቴና ነኝ አትበል።<br />
                    እኔ አድንህ ዘንድ ከአንተ ጋር ነኝና ከፊታቸው አትፍራ፥ ይላል እግዚአብሔር።<br />
                    እግዚአብሔርም እጁን ዘርግቶ አፌን ዳሰሰ፥ እግዚአብሔርም። እነሆ፥ ቃሌን በአፍህ ውስጥ አኑሬአለሁ፤
                </p>
                </p>
                <p>እግዚአብሔር ቃሉን በኤርምያስ አፍ እንዳኖረ ሁሉ በቅዱስ ያሬድና በአርድእተ ያሬድ አፍም አኑረዋል</p>
                <h3><u>ከዚህም የተንሳ ቅዱስ ያሬድ መላእክት ሥላሴን ሲያመሰግኑ ሰምቶ የሥላሴ ምስጋና እንዲህ በማለት ጀመረ </u></h3>
                <i>
                    <strong>
                        ዋይ ዜማ ዘሰማዕኩ ...<br />
                    </strong><br />
                </i>

                <p>
                    ቅዱስ ያሬድ በተመስጦ ወደ ሰማያዊት ጽርሐ ዓርያም ተነጥቆ ሃያ አራቱ ካህናተ ሰማይ ቅዱስ ቅዱስ ቅዱስ እግዚአብሔር እያሉ ሲያመሰግኑ ሰምቶ
                    ዋይ (ወይ) የሰማሁት ዜማ እያለ የሥላሴን ምስጋና ከሰማያዊት ጽርሐ ዓርያም ወደ ኢትዮጵያ አምጥቶ ሰማይንና ምድርን በማህኅሌት መሰላል አገናኘ::
                    በእውነት ታላቅ ምስጢር ነው፥፥ እግዚአብሔር አምላካችን የተመሰገነ ይሁን፥፥
                </p>
                <p>እስቲ የሚቀጥለው የእጅ ሥዕል በአንክሮ እናመሳጥረው የሚያስተላልፈው መልእክት ምን ይምስላል &quest;</p>
                <p><img src="images/Kdus_Yared_And_his_Deke_Mezmur.jpg" class="img-responsive" alt="Responsive image" width="375" height="80"></p>
                <p>
                    የቅዱስ ያሬድ ማህኅሌት የሥላሴ ምስጋና ነውና በእግዚአብሔር ጥበብና በቅዱስ ያሬድ ደቀ መዛሙርት አማካኝነት ለዘዓለም እየተዘመረ ይኖራል:: <br />
                </p>

                <u>እስቲ የቅዱስ ያሬድ ደቀ መዝሙር ከሆኑት ከሊቀ ጠበብት መምህር ኤርምያስ አንደበት የቅዱስ ያሬድ ወረብ የተባለው እንስማ &excl;</u><br /><br />
                <p>
                    ልብ በሉ የምንጓዘው ጉዞ ወደ ሰማያዊት ጽርሐ ዓርያም ነው፥፥ <br />
                    እዛው ለመገናኘት ያብቃን፥፥<br />
                </p>

                <iframe src="https://www.youtube.com/embed/yZQtl2oh6Jg" height="250" width="370" allowfullscreen="" frameborder="0"></iframe>
                <p>

                    የእግዚአብሔር ጥበብ ግሩም ነው ፥፥ ላስተዋለው ፥፥<br /><br />
                    ቅዱስ ዳዊት በመዝሙር ፻፶ ላይ <strong><font color="red">በግዚአብሔር መንፈስ ቅዱስ</font></strong> ተቃኝቶ እንዲህ ይላል:-<br />
                    ሰብሕዎ በቃለ ቀርን:-<br />
                    ሰብሕዎ በመዝሙር ወበመሰንቆ:-<br />
                    ሰብሕዎ በከበሮ ወበትፍሥሕት:-<br />
                    ሰብህዎ በጸናጽል ወብይባቤ:-<br />
                    ኵሉ ንፍስ ይሴብሖ <strong><font color="red">ለእግዚአብሔር</font></strong>፥፥<br />
                    ነፍስ ያለው ሁሉ <strong><font color="red">እግዚአብሔርን</font></strong> ያመሰግናል ብሎ ያስረዋል ወይም ይደመድመዋል፥፥<br /> <br />
                </p>
                <p>
                    <u>ነፍስ ያለው ሁሉ <strong><font color="red">እግዚአብሔርን</font></strong> ያመስግን ተባለ&quest;</u><br />
                    ለካስ ለዚህ ነው በወረቡ ጊዜ- <br />
                    ስቃይ ወይም ሕመም ያላቸው ሕመማቸውን ረስተው በአንክሮ ሰማየ ሰማያት ይነጕዳሉ:: <br />
                    ግማሾቹ በአርምሞ ያመሰግናሉ:: <br />
                    ግማሾቹ እልል ይላሉ:: <br />
                    ግማሾቹ ይወርባሉ:: <br />
                    ግማሾቹ ያንጨበጭባሉ:: <br />
                    ግማሾቹ ወደ ሰማይ ይመለከታሉ:: <br />
                    ግማሾቹ በደስታ ያልቅሳሉ:: <br />
                    ግማሾቹ በደስታ ይስቃሉ:: <br />
                    ግማሾቹ ወደ ፊት ይሄዳሉ:: <br />
                    ግማሾቹ ወደ ኋላ ይራመዳሉ:: <br />
                    ግማሾቹ ወደ ምስራቅ, ግማሾቹ ወደ ምዕራብ, ግማሾቹ ወደ ሰሜን, ግማሾቹ ወደ ደቡብ ይወዛወዛሉ:: <br />
                    ህፃንት ይሮጣሉ:: <br />
                    ሽማግሌዎች ያደንቃሉ:: <br />
                    ካህናት ያመሳጥራሉ:: <br />
                    <stron><u>ስለ ዚህ</u></stron><br />
                    ኵሉ ንፍስ ይሴብሖ <strong><font color="red">ለእግዚአብሔር</font></strong>፥፥<br />
                    ነፍስ ያለው ሁሉ <strong><font color="red">እግዚአብሔርን</font></strong> ያመሰግናል፥፥
                </p>
            </div>

            <!--<div class="col-md-4" style="background-color:lightyellow;height:1900px">-->
            <div class="col-md-4" style="background-color:lightcoral;height:2200px">

                <h2><strong><u>ሊቀ ጠበብት መምህር ኤርምያስ አሰፋ - የቦስተን መንበረ ልዑል መድኃኔ ዓለም በተ ክርስቲያን መምህር</u></strong></h2> <br />
                <br />
                <iframe src="https://www.youtube.com/embed/K2l0U0Kbigo" height="500" width="370" allowfullscreen="" frameborder="0"></iframe>

                <hr />
                <p>
                 <u>The name of the Church where &quot;Like Tebebt Memhr Ermias Assefa&quot; serves-</u> is called Menebere Leule Medhane Alem Ethiopian Orthodox Tewahedo Church. The church is established in accordance with the laws of Massachusetts
                </p> 

                <h2><u>Rules of Belief</u></h2>
                <p>
                    As the Boston Menebere Leule Medhane Alem Church is part of the Ethiopian Orthodox Tewahedo Church , it keeps its rule of belief and canon. It teaches same and confirms in its activity.
                </p>

                <h2><u>Objective</u></h2>
                <p><mark>1.</mark> To expand the teachings of God's kingdom of Gospel.</p>

                <p><mark>2.</mark> To establish and strengthen Sunday schools. </p>

                <p><mark>3.</mark>To lead the administration and services of the church in line with the church laws. </p>

                <p><mark>4.</mark> To endeavor that the church stands on its feet with wealth and property. </p>

                <p><mark>5.</mark> To teach Ethiopian letters and language to those Ethiopians who are born and grown in this country in order not to forget their country and culture. </p>

                <p><mark>6.</mark> To study and preserve properly the rules of worship and canon of the Ethiopian Orthodox Tewahedo Church. </p>
                <hr />
                <iframe src="https://www.youtube.com/embed/9ViyuRnI3O0" height="500" width="370" allowfullscreen="" frameborder="0"></iframe>
                          
              </div>
            <!--<div class="col-md-4" style="background-color:lightblue;height:1900px">-->
            <div class="col-md-4" style="background-color:yellow;height:2200px">
                <h2><u>Religious Events</u></h2>
                <h5>Timket - Ethiopian Epiphany January 2017</h5>

                <p>
                    <iframe src="https://www.youtube.com/embed/y1lRKhiI5t0" height="300" width="370" allowfullscreen="" frameborder="0"></iframe>
                </p>
                <p>Let the children sing and praise the Lord, Jesus Christ.</p>
                <p>
                    <iframe src="https://www.youtube.com/embed/JpJidj1Q1fc" height="300" width="370" allowfullscreen="" frameborder="0"></iframe>
                </p>
                <hr />

                    <p>Click on the following videos to listen to the heavenly melodies and songs! </p>

                 <iframe src="https://www.youtube.com/embed/LaHA4FN8lyM" height="300" width="370" allowfullscreen="" frameborder="0"></iframe>
                    <hr />
                    <br />

                 <iframe src="https://www.youtube.com/embed/9ViyuRnI3O0" height="300" width="370" allowfullscreen="" frameborder="0"></iframe>
                    <hr />
                    <br />
                 <iframe src="https://www.youtube.com/embed/6t9JvL6NNfM" height="300" width="370" allowfullscreen="" frameborder="0"></iframe>                   
                </div>
        </div>
    </div>
</div>
