<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Untitled Page</title>
</head>
<body>
    <strong>Name of the Church:
        <br />
    </strong>The church which is located in Boston is called Menebere Leule Medhane
    Alem Ethiopian Orthodox Tewahedo Church. The church is established in accordance
    with the laws of Massachusetts
    <br />
    <br />
    <strong>Rules of Belief:</strong>
    <br />
    As the Boston Menebere Leule Medhane Alem Church is part of the Ethiopian Orthodox
    Tewahedo Church , it keeps its rule of belief and canon. It teaches same and confirms
    in its activity.<br />
    <br />
    <strong>Objective:<br />
    </strong>1. To expand the teachings of God's kingdom of Gospel.<br />
    <br />
    2. To establish and strengthen Sunday schools.<br />
    <br />
    3. To lead the administration and services of the church in line with the church
    laws.<br />
    <br />
    4. To endeavor that the church stands on its feet with wealth and property.
    <br />
    <br />
    5. To teach Ethiopian letters and language to those Ethiopians who are born and
    grown in this country in order not to forget their country and culture.
    <br />
    <br />
    6. To study and preserve properly the rules of worship and canon of the Ethiopian
    Orthodox Tewahedo Church.
    <br />
    <br />
    <strong>Administrator of the church:
        <br />
    </strong>Abba Gebredengel- leads the church in accordance with the regulation issued
    by the Holy Synod.

</body>
</html>
