
<div ng-controller="contactsController">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="color:white;background-color:black;height:600px">
                <div>
                    <h1>Address:</h1>
                    <p>
                        ሊቀ ጠበብት መምህር ኤርምያስ አሰፋ or<br />
                        &quot;Like Tebebt&quot; Memhr Ermias Assefa
                    </p>
                    
                    <p>
                        235 Bainbridge st
                    </p>

                    <p>
                        Malden, MA 02148
                    </p>
                    <p>
                        Tel: 781-475-6275
                    </p>
                    <br />
                    <hr />
                </div>
             </div>
            <div class="col-md-4" style="background-color:lightcoral;height:600px">

                <h1>General Information:</h1>
                <p>
                    If you have questions about church related services and Saint Yared's zema (melody), Kidase, and son, please contact
                    ሊቀ ጠበብት መምህር ኤርምያስ አሰፋ or &quot;Like Tebebt&quot; Memhr Ermias Assefa
                </p>

                <p>
                    <strong>Mobile:</strong>781-475-6275                    
                </p>
                <br />
                <br />
                <hr />
            </div>
            <div class="col-md-4" style="color:white;background-color:black;height:600px"> 
                <h1>Links:</h1>   
          
             <div>
                    <h5><a href="http://www.eotc-patriarch.org/">Ethiopian Orthodox Tewahedo Church Patriarch Site</a></h5>  
            </div>
                <br />
            <div>
                    <h5><a href="http://holytrinityeotcny.org/">New York Holy Trinity Ethiopian Orthodox Tewahedo Church</a></h5>  
            </div>
                <br />
            <div>
                    <h5><a href="http://bole.eotc.org.et/en/service/">Addis Ababa Bole Medhane Alem Ethiopian Orthodox Tewahedo Church</a></h5> 
            </div>
                <hr />
        </div>
      </div>
 </div>
</div>



  