<div ng-controller="contactsController">
    <div class="container">
        <div class="row well well-lg">
            <!--<div class="col-md-4" style="background-color:lightblue;height:2100px">-->
            <div class="col-md-4" style="background-color:lightblue;color:black;height:2200px">
           
                <h2><strong><u>Introduction</u></strong></h2> <br />
                <p>
                    Judge not, that ye be not judged. The law of the Ancient world and that of the prophets is combined by this. Mathew 7.1. As this is the directive and the order of our Lord: God and Savior Jesus Christ, preserving and using it, is our Christian obligation. It is the Christian law that keeps us by strengthening our unity should we preserve it.
                </p>
                
                <p>
                    We, priests and followers of the belief of the Ethiopian Orthodox Tewahedo Church who reside in Boston and its surroundings, have endorsed the church directive (Kalle Awadi) which enables us together to be directed and use it in Boston Menebere Leule Medhane Alem Ethiopian Orthodox Tewahedo Church.
                </p>

                <p>His Holiness Abune Mathias, Patriarch of the Ethiopian Orthodox Tewahedo Church:</p>
                <p><img src="images/Abune_Mathias1.png" width="375" class="img-responsive" alt="Responsive image"></p>
                <p>
                    It can be evidenced from the following quotations that the church is organized by the association of priests and followers and directed by the parish council, a directive and order derived from the Holy Book. Leviticus 27/26-33; Deuteronomy 14/22; Numbers 18/20-29; Obadiah 3/7-12; Acts 4/32-37; Corinthians 16/1-5.
                </p>
            </div>

            <!--Gera Upto here-->
            <!--<div class="col-md-4" style="background-color:lightyellow;height:1900px">-->
            <div class="col-md-4" style="background-color:lightcoral;height:2200px">

                <h2><strong><u>ሊቀ ጠበብት መምህር ኤርምያስ አሰፋ - የቦስተን መንበረ ልዑል መድኃኔ ዓለም በተ ክርስቲያን መምህር</u></strong></h2> <br />
                <br />
                <iframe src="https://www.youtube.com/embed/K2l0U0Kbigo" height="500" width="370" allowfullscreen="" frameborder="0"></iframe>

                <hr />
                <p>
                 <u>The name of the Church where &quot;Like Tebebt Memhr Ermias Assefa&quot; serves-</u> is called Menebere Leule Medhane Alem Ethiopian Orthodox Tewahedo Church. The church is established in accordance with the laws of Massachusetts
                </p> 

                <h2><u>Rules of Belief</u></h2>
                <p>
                    As the Boston Menebere Leule Medhane Alem Church is part of the Ethiopian Orthodox Tewahedo Church , it keeps its rule of belief and canon. It teaches same and confirms in its activity.
                </p>

                <h2><u>Objective</u></h2>
                <p><mark>1.</mark> To expand the teachings of God's kingdom of Gospel.</p>

                <p><mark>2.</mark> To establish and strengthen Sunday schools. </p>

                <p><mark>3.</mark>To lead the administration and services of the church in line with the church laws. </p>

                <p><mark>4.</mark> To endeavor that the church stands on its feet with wealth and property. </p>

                <p><mark>5.</mark> To teach Ethiopian letters and language to those Ethiopians who are born and grown in this country in order not to forget their country and culture. </p>

                <p><mark>6.</mark> To study and preserve properly the rules of worship and canon of the Ethiopian Orthodox Tewahedo Church. </p>
                <hr />
                <iframe src="https://www.youtube.com/embed/9ViyuRnI3O0" height="500" width="370" allowfullscreen="" frameborder="0"></iframe>
                          
              </div>
            <!--<div class="col-md-4" style="background-color:lightblue;height:1900px">-->
            <div class="col-md-4" style="background-color:yellow;height:2200px">
                <h2><u>Religious Events</u></h2>
                <h5>Timket - Ethiopian Epiphany January 2017</h5>

                <p>
                    <iframe src="https://www.youtube.com/embed/y1lRKhiI5t0" height="300" width="370" allowfullscreen="" frameborder="0"></iframe>
                </p>
                <p>Let the children sing and praise the Lord, Jesus Christ.</p>
                <p>
                    <iframe src="https://www.youtube.com/embed/JpJidj1Q1fc" height="300" width="370" allowfullscreen="" frameborder="0"></iframe>
                </p>
                <hr />

                    <p>Click on the following videos to listen to the heavenly melodies and songs! </p>

                 <iframe src="https://www.youtube.com/embed/LaHA4FN8lyM" height="300" width="370" allowfullscreen="" frameborder="0"></iframe>
                    <hr />
                    <br />

                 <iframe src="https://www.youtube.com/embed/9ViyuRnI3O0" height="300" width="370" allowfullscreen="" frameborder="0"></iframe>
                    <hr />
                    <br />
                 <iframe src="https://www.youtube.com/embed/6t9JvL6NNfM" height="300" width="370" allowfullscreen="" frameborder="0"></iframe>                   
                </div>
        </div>
    </div>
</div>
