{{services}}
<div class="container">
    <div class="row">
            <div class="col-md-12" style="background-color:lightblue">

                <div ng-controller="servicesController">


                    <h2>Sunday Services Schedule:</h2>
                    <table border="2" width="100%" height="30%" valign="top">
                        <tr>
                            <th>Services</th>
                            <th>Time</th>
                        </tr>
                        <tr>
                            <td>Matins</td>
                            <td>5:45AM</td>
                        </tr>
                        <tr>
                            <td>Baptism</td>
                            <td>6:20AM</td>
                        </tr>
                        <tr>
                            <td>Prayer of the covenant</td>
                            <td>7:45 AM</td>
                        </tr>
                        <tr>
                            <td> Divine Liturgy</td>
                            <td>7:00AM-10AM</td>
                        </tr>
                    </table>
                    <div>
                        <!--Sunday Services Table starts here-->
                        <div>
                            <h1>Priest&#39;s Service Section:</h1>
                        </div>
                        <hr />
                        <table border="2" bgcolor="#CCCCFF" width="100%" height="70%" valign="top">
                            <td>
                                <font color="red"><strong>1.&nbsp;</strong></font>To strengthen the internal service of the church
                                <br />
                                <br />
                                <font color="red"><strong>2.&nbsp; </strong></font>If there are quarreled parties, to reconcile them by studying the causes for the problems and seeking solutions.
                                <br />
                                <br />
                                <font color="red"><strong>3.&nbsp; </strong></font>To visit sick people in their places, pray for them and teach them Gospel.
                                <br />
                                <br />
                                <font color="red"><strong>4.&nbsp; </strong></font>To conduct and perform praying absolution to those who passed away in accordance with the Ethiopian OrthodoxTewahedo church laws and rules.
                                <br />
                                <br />
                                <font color="red"><strong>5.&nbsp; </strong></font>To issue certificates: <br />
                                <font color="blue"><strong>a.&nbsp;</strong></font> When children (in 40  and 80 days) and adult are baptized,to state the date of baptismal, Christian name and name of parents and name of the baptizing priest in the I.D.
                                <br />
                                <br />
                                <font color="blue"><strong>b.&nbsp;</strong></font> When marriage is conducted for youth or elders in accordance with the churches law.
                                <br />
                                <br />
                                <font color="red"><strong>6.&nbsp;</strong></font>TO establish the Sunday school in the church.
                                <br />
                                <br />
                                <font color="red"><strong>7.&nbsp; </strong></font>To teach liturgy or religious education during Sundays and other convenient days.
                                <br />
                                <br />
                                <font color="red"><strong>8.&nbsp; </strong></font>To Follow, inform, keep and implement those enacted rules and directives issued by Holy Synod.
                                <br />
                                <br />
                                <font color="red"><strong>9.&nbsp; </strong></font>To follow up any spiritual related matters, gives advisory services to the church&#39;s administration.
                                <br />
                                <br />
                                <font color="red"><strong>10.</strong></font>To keep the church&#39;s belief and procedure according to church&#39;s law.
                            </td>
                        </table>
                        
                    </div>
                </div>
                <br />
            </div>
        </div>
</div>