
@*@{
    ViewBag.Title = "GetListOfVideos";
}

<h2>List Of Videos</h2>
<div>@TempData["message"]</div>
@{
   for(int i = 0; i <= 12; i++)
   {
    <h1>TempData["message"][@i]</h1>
    <h2>TempData["message"][4].value</h2>

   }
}*@

 